/*
 * font-color: #5D5F64
 * 
 * 

@font-face {
    font-family: '"Open Sans"';
    src: url('./webfont/"Open Sans"-regular-webfont.eot');
    src: url('./webfont/"Open Sans"-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./webfont/"Open Sans"-regular-webfont.woff2') format('woff2'),
         url('./webfont/"Open Sans"-regular-webfont.woff') format('woff'),
         url('./webfont/"Open Sans"-regular-webfont.ttf') format('truetype'),
         url('./webfont/"Open Sans"-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
    
    font-family: '"Open Sans"Bold';
    src: url('./webfont/"Open Sans"semibold-webfont.eot');
    src: url('./webfont/"Open Sans"semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./webfont/"Open Sans"semibold-webfont.woff2') format('woff2'),
         url('./webfont/"Open Sans"semibold-webfont.woff') format('woff'),
         url('./webfont/"Open Sans"semibold-webfont.ttf') format('truetype'),
         url('./webfont/"Open Sans"semibold-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*  */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,800,400);



*, a {
	color: #000;
	font-family: "Open Sans";
}

html {
	min-width: 320px;
	min-height: 100%;

	position: relative;
}
.overflow-x {
	overflow-x: hidden;
}
body.fotterbottom {
	margin-bottom: 153px;
}


footer {
	height: 153px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
footer > div.row {
	
}
div.footer {
	height: 100%;
}

.container-fluid {
	padding: 0;
}
.row {
	margin: 0;
}

/* ==========	 HEADER 	============== */
.home .header {
    background: url("../img/header-bg.jpg") no-repeat fixed center top / 100% auto rgba(0, 0, 0, 0);
    height: 24.5vw;
    position: relative;
}

.header .level-1 {
	border-bottom: solid 1px #888;
}

.header .level-1 div img {
	padding-right: 33px;
	padding-top: 2px;
	width: 17.25vw;	
}
.home .header .level-2 {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	font-family: "Open Sans";
	font-size: 157%;
	text-decoration: underline;
	
}

/* ==========---top menu---=============== */
.fixed-menu {
	width: 100%;
	position: fixed;
	background: rgba(255,255,255, 0.9);
	z-index: 2000;
}
#top_menu {
	line-height: 3.9vw;
	margin: 0;
	padding-left: 68px;
	font-weight: 600;
}
.menu li {
	padding-right:7px;
	padding-left:9px;

}

.menu li:hover {
	border-bottom: 0.23vw solid #333;
}
.menu li.active {
	border-bottom: 0.23vw solid #333;
}
#top_menu a {
	color: #000;
	font-size:1vw;
	letter-spacing: -1;
	font-family: "Open Sans";
}
#top_menu a:hover {
	text-decoration: none;
}

.dropdown-menu {
	background: rgba(164, 173, 178, 0.75);
	border-radius: 0;
	z-index: 1001 !important;
}
.dropdown-menu li {
	border-bottom: solid 1px #999;
	z-index: 1001 !important;
}
.dropdown-menu li:last-child {
	border: none;
}
.dropdown-menu li:hover {
	border-left: solid 2px #333;
	border-bottom: solid 1px #aaa;
}
.dropdown-menu li a {
	padding: 6px 0;
	z-index: 1001 !important;
}
.dropdown-menu li a:hover {
	background: none;
}
.home .header-hr {
	border-width: 3px;
}
.header-hr {
  border-color:#000000;
  border-width:1px;
  margin:0 auto;
  width:50%;
}
.footer-hr {
  border-color: #000000;
  border-width: 2px;
  margin: 0 auto;
  width: 77%;
  padding-bottom: 6%;
}

/* ==========--- HOME page content list --- ========= */
h1 {
	font-size: 3.7vw;
	font-family: "Open Sans";
	color: #000;
}
h2 {
    font-size: 1.9vw;
    font-family: "Open Sans";
}

div > a {
	color: #5D5F64;
	font-weight: bold;
}
.home .level-2 h1 {	
	margin: 0;
	padding-bottom: 14px;
	font-weight: 700;
}
.home .level-3 {
	margin:0 auto;
	padding-right:4%;
	width:45%;
	font-size: 1vw;
}
.home .level-3 div {
	
}
.home .level-3 h2 {
	text-align: center;
}
.red_button {
	display: block;
	width: 45%;
	background: -moz-linear-gradient(top, #ff0000, #990000);
	background: -webkit-linear-gradient(top, #ff0000, #990000);
	background: -o-linear-gradient(top, #ff0000, #990000);
	line-height: 2.5vw;
	text-align: center;
	color: #fff;
	font-family: "Open Sans";
	font-weight: 600;
	margin:20px auto;
	cursor: pointer;
}
.home .red_button {
	margin: 4% auto 0;
}
.red_button:hover {
	opacity: 0.8;
}

.home .level-4 {
	background: url('../img/home_content_bg.png') no-repeat scroll top / 100% auto rgba(0, 0, 0, 0);
	height: 107vw;
}

.home .level-4 .item-cont {
	width: 62%;
	margin: 0 auto;
	padding-top: 10vw
}

.home .level-4 .item-cont h1  {
	padding-top: 8%;
	margin-left: 1.2vw;
}
.home .level-4 .item-cont h1 span {
	font-size: 3.4vw;
	font-weight:700;
	text-align: left;
	font-family: "Open Sans";
	display: block;
}

.home .level-4 .tab-item {
	border: 0.8vw solid #536973;
	margin: 0px 7px;
	width: 30%;
	padding: 0;
	position: relative;
	cursor: pointer;
}
.home .level-4 .tab-item img {
	width: 100%;
	border: solid 1px #ccc;
}
.home .level-4 .tab-item .hovered {
    height: 100%;
    font-family: "Open Sans";
    font-size:1.4vw;
    left: 0;
    padding: 70% 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    opacity: 1;
    color: #fff;
}
.home .level-4 .tab-item .hover-1 {
	background: url("../img/home_icon-1.png") no-repeat scroll center 21% / 59% auto rgba(83, 105, 115, 0.8);
}
.home .level-4 .tab-item .hover-2 {
	background: url("../img/home_icon-2.png") no-repeat scroll center 33% / 44% auto rgba(83, 105, 115, 0.8);
}
.home .level-4 .tab-item .hover-3 {
	background: url("../img/home_icon-3.png") no-repeat scroll center 21% / 59% auto rgba(83, 105, 115, 0.8);
}
.home .level-4 .tab-item .hover-4 {
	background: url("../img/home_icon-4.png") no-repeat scroll center 16% / 59% auto rgba(83, 105, 115, 0.8);
}
.home .level-4 .filla {
	padding-top: 1.2vw;
}
.home .level-4 .undertabs {
	padding-top: 8%;
}
.home .level-4 .part-2 {
	font-size:1.5vw;
    font-weight:400;
	padding:0 0 0 25%;
	width:49%;
}
.home .level-5 {
	background:url("../img/home_contact_bg.gif") fixed;
	background-size: 100% 100%;
}
.home .level-5 div.home_form {
	width: 53%;
	margin: 0 auto;
}
.home .level-5 h1 {
	font-family: "Open Sans";
	font-weight:600;
	letter-spacing: -2px;
	text-align: center;
	padding: 7% 0 0%;
}
.home .level-5 p {
	text-align: center;
	font-size: 1.4vw;
}
.home .level-5 form {
	padding-top: 4%;
}

.home .home_form input, .home .home_form textarea {
    border: solid 2px #A3A6AA;
    padding: 10px;
    height: auto;

}
.home .home_form textarea {
	min-height:9vw;
	padding: 1.3vw 12px;
}

.home .level-5 form div.row div {
	padding-bottom: 4.5%;
}
.has-feedback .form-control-feedback {
	top: 0;
	right: 13px;
	color: red;
	visibility: hidden;
}


/* ==========-------------------A B O U T  U S----------------------------=============== */
.about-wrap {
	background:url("../img/about-bg.gif") no-repeat fixed center top / 100% 100% #17212d;
}
#push-about {
	height: 20px;
}
.about .row.content {
	margin: 0 auto;
	width: 79%;
	max-width:1150px;
}
.about .item-container {
	width: 70%;
	margin: 0 6vw;
	text-align: center;
	padding: 4% 0;
}
.about h1, .contact h1 {
	color: #000;
	font-weight: 600;
}
.about .header-hr {
	width: 25%;
}
.about .red_button {
	margin:3.8% auto 7%;
	width: 30%;
}
footer.about {
	height: 147px;
}
/* ==========-------------------C O N T A C T----------------------------=============== */
.contact-wrap {
	background: #17212d url("../img/contact-bg.png") no-repeat fixed center top / 100% 100%;
}
.contact p {
	padding: 5%;
	text-align: center;
	font-size: 1.5vw;
}
.contact_form {
	width: 60%;
	margin: 0 auto;
	max-width: 1100px;
}
.contact_form input, .contact_form textarea {
    height: auto;
    margin: 3% 0;
    padding: 0.7vw !important;
}
.contact_form textarea {
	margin: 2% 0;
}
.contact .red_button {
	margin: 3.8% auto 5%;
	padding:0.2vw 0;
}
.contact_form .last-row {
	margin-bottom: 4%;
}

.contact .form-line {
	
}
.contact .footer {
	bottom: 0%;
	position: relative;
	width: 100%;
}
.contact .has-feedback .form-control-feedback {
	top: 18%;
}
/* ==========-------------------S E R V I S E S---------------------------=============== */
.servises .servises-row {
	margin:0  0 15%;
}
.servises .servises-row.last {
	margin:0  0 5%;
}
.servises .red_button {
	padding: 0.5vw 0;
	margin-bottom: 4vw;
	width: 30%;
}
.servises .servises-row hr {
	border-top: 2px solid #536973;
}
.servises a.anchor{
	padding-bottom:6.2%;
	display: block;
}
.servises .servises-row .left-img hr {
	width: 27.2vw;
	position: absolute;
	left: -25vw;
}
.servises .servises-row .left-img hr.hr-top{
	margin: 1.4% 0px;
}
.servises .servises-row .left-img hr.hr-bottom{
	margin: -1.4% 0;
}
.servises .servises-row .left-img div#servise-1 {
  background: url("../img/home-tab-1.jpg") 0px 0/ auto 100% no-repeat scroll;
  border:9px solid #536973;
  display:block;
  height:35.3vw;
  position:relative;
  right:2%;
  width:89%;
}
.servises .servises-row .left-img div#servise-3 {
  background: url("../img/home-tab-3.jpg") 0px 0/ auto 100% no-repeat scroll;
  border:9px solid #536973;
  display:block;
  height:35.3vw;
  position:relative;
  right:2%;
  width:89%;
}
.servise-description-header {
	margin:14% 0 8%;
	position: relative;
}
.servises .servises-row .right-description {
	position: relative;
	right: 3vw;
	z-index: 2;
}
.servises .servises-row .right-description img.icon {
  bottom:0;
  display:block;
  float:left;
  position:absolute;
  width:3.4vw;
}
.servises .servises-row .right-description h2 {
  line-height:0;
  padding:2% 0 3% 14%;
  position:relative;
  font-size:2.5vw;
  font-weight:600;
}
.servises .servises-row .right-description hr {
  display:block;
  left:8.5%;
  margin:0;
  position:relative;
  width:165%;
}
.servises .servises-row .right-description img.border {
  position:absolute;
  right:-3%;
  width:72%;
  z-index:2;
}
.servises .servises-row .right-description p {
background: #EDF9FF;
  font-size: 1.2vw;
  margin: 20% 0 0 -5vw;
  padding:7% 15% 5%;
  position: absolute;
  text-align: left;
  width: 116%;
  font-weight: 400;
}

/* ----- right -----*/
.servises .servises-row .right-img hr {
	margin: 0px;
	display: block;
	position: relative;
	right: -105%;
}
.servises .servises-row .right-img hr.hr-top{
	top: 9px;
}
.servises .servises-row .right-img hr.hr-bottom{
	top: -9px
}
.servises .servises-row .right-img div#servise-2 {
  background: url("../img/home-tab-2.jpg") 0px 0/ auto 100% no-repeat scroll;
  border:10px solid #536973;
  display:block;
  height:35.3vw;
  position:relative;
  right:-22%;
  width:89%;
}
.servises .servises-row .right-img div#servise-4 {
  background: url("../img/home-tab-4.jpg") 0px 0/ auto 100% no-repeat scroll;
  border:10px solid #536973;
  display:block;
  height:35.3vw;
  position:relative;
  right:-22%;
  width:89%;
}

.servises .servises-row .left-description {
	position: relative;
	left: 18%;
	z-index: 2;
}
.servises .servises-row .left-description img.icon {
  display:block;
  float:right;
  margin:-3.4vw 11% 0 0;
  position:relative;
  width:3.4vw;
}
.servises .servises-row .left-description h2 {
	font-size:2.5vw;
	font-weight:600;
	margin:11% 0 0;
	padding:0 0 1.9%;
	position:relative;
	right:8vw;
	text-align:right;
	width:100%;
}
.servises .servises-row .left-description hr {
	display:block;
	margin:0 0 -1px -86%;
	position:relative;
	width:175%;
}
.servises .servises-row .left-description img.border {
	position: absolute;
	z-index: 2;
	width: 73%;
	margin: 4% 0px 0px -15%;
}
.servises .servises-row .left-description p {
	background:#DEEBF1;
	padding:8% 11% 5% 14% !important;
	position: absolute;
	width: 117%;
	margin: 10% 0px 0px -4vw;
	font-size: 1.23vw;
	text-align: left;
	font-weight: 400;
}
.servises .servises-row .left-description p.last {
	padding: 5% 15% 1.4%;
	font-size: 1.2vw;
}

hr.hr-bottom {
	z-index: 0;
}

/* ==========---footer---=============== */

.footer {
	background: #17212D;
	padding: 0.4% 0 0;
}
.footer .footer-wrapper {
	width: 25%;
	margin: 0 auto;
	text-align: center;
}
.footer span, .footer b, .footer div, .footer a {
	color: #eee;
    font-weight: 600;
}
.footer .border-top {
	color: #ABB0B9;
	padding: 1% 0;
}


.footer .footer-icon {
    white-space: nowrap; 
}
.footer-icon:before {
	content: "";
	background-repeat: no-repeat;
	margin: 0px 2px;
	left: 0px;
	position: relative;
	width: 21px;
	height: 17px;
	display: inline-block;
	
	background-position: 1px;
}
.big-icon {
	padding: 4px 2px;
}
.big-icon-row {
	padding: 8px 0;
}
.footer-icon.phone { 	background-image:url("../img/icon-phone.png"); }
.footer-icon.email { 	background-image:url("../img/icon-mail.png"); }
.footer-icon.twitter { 	background-image:url("../img/icon-twitter.png"); }
.footer-icon.facebook { 	background-image:url("../img/icon-facebook.png"); }
.footer-icon.google { 	background-image:url("../img/icon-google.png"); }

.footer div.border-top {
	text-align: center;
	border-top: solid 1px #27313D;

}

.zoomed {
	z-index: 1;
}


/* =============== D  E  S  C  T  O  P     L A R G E ==================== */
@media (min-width:1700px){
	#top_menu {
		  line-height: 3.9vw;;
	}
	.home .level-4 .item-cont {
		padding-top: 9.9vw;
	}
	.home .level-4 .filla {
		padding-top: 1.2vw;
	}
	.home .level-4 .part-2 {
		padding-top: 0;
	}
	.home .level-4 .part-2 {
		font-size: 1.46vw;
	}
	
	.contact .form-line {
	  padding-bottom: 14vw;
	}

	.servises .servises-row .right-description img.border {
		margin: 14.5% 0 0 19%;
	}
	.servises .servises-row .left-description hr {
		display: block;
		margin: -0.3% 0 0 -86%;
    }
    .servises .servises-row .left-description p {
		padding: 8% 15% 5%!important;
    }
    .servises .servises-row .right-description p {
		padding: 7% 15% 3%;
	}
    
    
.home .header{
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;        
}



.zoomed {
	cursor: pointer;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-webkit-transition: all 0.6s ease-out;        
}
.zoomed:hover {
        background-size: 120%;
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -o-transform: scale(1.04);
}


.about .item-container {
	cursor: pointer;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-webkit-transition: all 0.6s ease-out;        
}
.about .item-container:hover {        
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
}
}

/* ========================= D  E  S  C  T  O  P ==================== */
@media (min-width:992px) and (max-width: 1699px){
	.servises .servises-row .right-description img.border {
	  margin: 6.5% 0 0 30%;
	}
	.servises .servises-row .right-description p {
		margin: 12% 0 0 -5vw;
	}
	.servises .servises-row .right-description hr {
		top: 97%;
	}
	
.home .header{
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;        
}


.zoomed {
	cursor: pointer;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-webkit-transition: all 0.6s ease-out;        
}
.zoomed:hover {
        background-size: 120%;
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -o-transform: scale(1.04);
}


.about .item-container {
	cursor: pointer;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-webkit-transition: all 0.6s ease-out;        
}
.about .item-container:hover {        
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
}

}
/* ============================= T A B L E T ======================== */
@media (min-width:768px) and (max-width: 991px){
	.dropdown-menu li a {
		font-size:95% !important;
	}
	.servises .servises-row .right-description img.border {
		margin: 6.5% 0 0 32%;
	}
	.servises .servises-row .right-description p {
		margin: 12% 0 0 -5vw;
	}
	.servises .servises-row .right-description hr {
		top: 71%;
	}
}

/* ============================ M  O  B  I  L  E ==================== */
@media (max-width:767px){ 

	.header .level-1 {
	  border-bottom: solid 0.3vw #000;
	}
	#top_menu {
		padding-left: 0;
		line-height: 27px;
		font-size: 4.3vw;
		text-align: center;
	}
	#top_menu a {	  
	  font-size:3.5vw;
	}
	.menu li.active, .menu li:hover {
	  border-bottom: 0.4vw solid #333;
	}
	.dropdown-menu { 
		background: #17212d!important;
		left: -280% !important;
		position: absolute !important;
		top: 111%;
		width: 613% !important;
		z-index: 1000 !important;
		
	}
	.dropdown-menu li {
		padding:1vw 0;
	}
	
	.dropdown-menu li a {
		color: #fff !important;
		font-size: 94% !important;
		font-weight: 900 !important;
		padding: 7px 0 !important;
		text-transform: uppercase !important;
	}
	
	.header .level-1 div img {
		display: block;
		float: none !important;
		margin: 0 auto;
		padding: 0;
		width: 40%;
	}
	.fixed-menu div img {
		display: none!important;
	}
	.home .header {
		background-size: cover;
		height: 36vw;
	}
	.home .level-2 h1 {
		font-size: 5.7vw;
	}
	.home .header-hr { 
		width: 70%;
	}
	
	.home .level-3 {
		width: 100%;
		text-align: justiffed;
		padding-right: 0;
	}
	.home .level-3 div {
		font-size: 174%;
		text-align: justify;
	}
	
	.home .level-3 h2 {
		font-size: 2.7em;
		font-weight: 600;
	}
	.home .level-3 p {
		font-size: 2em;
	}
	.red_button {
		line-height: 10.4vw;
		font-size: 5.5vw;
	}
	.red_button, .about .red_button {
		width: 100%;
	}
	
	.home .level-4 {
		background: none;
		height: auto;
	}
	.home .level-4 .item-cont {
		width: 100%;
		padding: 0;
	}
	.home .level-4 .item-cont h1 {
		padding: 0;
		text-align: center;
	}
	.home .level-4 .item-cont h1 span {
		display: inline;
		font-size: 5.6vw;
	}
	.home .level-4 .tab-item {
		width:100%;
		margin: 0 auto 12px auto;
	}
	.home .level-4 .tab-item .hovered {
		opacity: 1!important;
		font-size: 12vw;
	}
	.home .level-4 .part-2 {
		width: 100%;
		padding:0;
		font-size: 102%;
	}
	.home .level-5 div.home_form {
		width: 100%;
	}
	
	.home .level-5 h1 {
		font-size: 5.6vw;
		text-decoration: none;
		letter-spacing: 0;
	}
	.home .level-5 p {
		font-size: 102%;
	}
	.home .undertabs > div, .home .item-cont.part-2 > div {
		padding: 0;
	}
	.home .home_form input, .home .home_form textarea{
	  border:none;
	  border-radius:0;
	  padding:2.3vw 2vw;
	}
	
	.footer .footer-wrapper {width: 100%;}

	footer {
		height: auto;
		position: absolute;
		bottom: 0;
	}
	/*-----------------about us -----------------*/
	.about {
		background:url("../img/about-bg.gif") no-repeat fixed 23% top / auto 100% rgba(0, 0, 0, 0.8);
	}
	.about .row.content {
		width: 100%;
	}
	.about .item-container {
		width: 100%;
		text-align: justify;
		padding: 4% 0;
		margin: 0 auto;
	}
	.about h1 {
		font-size: 310%;
		color: #444;
	}
	.about .header-hr {
		width: 35%;
	}
	.about p{
		font-size: 3.5vw;
		padding: 0 1%;
	}
	.about .header-hr {
		border-width: 2px;
		width: 59%;
	}

	/*----------------- contact -----------------*/
	.contact {
		background:url("../img/contact-bg.png") no-repeat fixed 23% top / auto 100% rgba(0, 0, 0, 0.8);
		height: auto;
		min-height: 100%;		
	}
	.contact_form {
		width: 100%;
	}
	.contact h1 {
		font-size: 209%;
	}
	.contact p {
		font-size: 140%;
	}
	.contact .form-line {
		padding-bottom: 3%;
	}
	.contact .has-feedback .form-control-feedback {
		top: 28%;
	}
	.contact .red_button {	  
	}
	.contact input {
		padding: 2.3vw 2vw !important;
		border: none;
		border-radius: 0;
	}
	
	.g-recaptcha {
		position: relative;
		width: 100% !important;
		margin: 0 auto;
		
	}
	.g-recaptcha > div > div {
		position: relative;
		width: 100%!important;
		margin: 0 auto;
	}
	.g-recaptcha iframe {
		width: 100%;
		max-width: 300px;
	}


	
	
	.servises-row .servise-img {
		width: 65%!important;
		left: 0px;
		right: 0px;
		padding: 0px;
		margin: 0px auto;
		display: none;
	}
	.servises .servises-row .right-description {
		right: 0;
		
	}
	.servises .servises-row {
		margin: 0;
		padding: 2%;
	}
	.servise-description-header {
		margin: 14% 0 2%;
		position: relative;
	}
	.servises .servises-row .right-description img.icon {
		display: block;
		float: left;
		position: absolute;
		width: 20%;
	}
	.servises .servises-row .right-description h2 {
		font-size: 6vw;
		padding-bottom: 4.4%;
		margin: 3.2% 0 -2px 8vw;
		z-index: 2;
	}
	.servises .servises-row .right-description hr {
		width:93.3%;
		position: absolute;
	}
	.servises .servises-row .right-description img.border {
		margin:2px 18px;
		position: absolute;
		width: 40.2%;
		z-index: 2;
	}
	.servises .servises-row .right-description p {
		background: #edf9ff none repeat scroll 0 0;
		font-size: 1em;
		margin: 2% 0 0 0vw;
		padding: 7% 16% 5% 3%;
		position: relative;
		text-align: justify;
		width: 100%;
	}
	
	
	
	
	.servises .servises-row .left-description {
		left: 0;
		position: relative;
	}
	.servises .servises-row .left-description img.icon {
		display: block;
		margin:-9.8vw 0 0 0;
		position: absolute;
		right: 0;
		top: -1.3vw;
		width: 20%;
	}
	.servises .servises-row .left-description h2 {
		margin: 13.2% 26% 0px 0;
		font-size: 6vw;
		padding: 0 0 0.9vw;
		right:20vw;
		
	}
	.servises .servises-row .left-description img.border {
		position: absolute;
		z-index: 2;		
		width:40.2%;
		margin:0 0 0 -2px;
	}
	.servises .servises-row .left-description p, .servises .servises-row .left-description p.last {
		background: none repeat scroll 0% 0% #EDF9FF;
		padding: 5% 3% 5% 10%;
		width: 100%;
		margin: 1% 0px 0px 0vw;
		font-size: 1em;
		text-align: justify;
		position: relative;
	}
	.servises .servises-row .left-description hr {
		margin:0 0 -1px -85%;
		width:185%;
	}
	.servises .red_button {
		width: 100%;
	}
}

	/* =========     helpers       ========== */
	
	.b {
		font-weight: bold;
	}
	.pad-10 {
		padding: 10px;
	}
	.pad-20 {
		padding: 20px 0;
	}
	.pad-50 {
		padding: 50px 0;
	}

	.fs-17 {
		font-size: 17px;
	}
	.no_margin {
		margin: 0;
	}
	.no_padding {
		padding-left: 0;
		padding-right: 0;
	}

	img.text-center {
		margin: 0 auto;
		display: block;
	}

	.g-recaptcha div {
		margin: 0 auto;
	}
	
	.captcha div {
		padding-bottom: 0% !important;
	}
	.row.captcha {
		margin-top: 2%;
	}
	.home .captcha {
		margin-top: 0%;
	}
